{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Все классы</title>
    <link rel="stylesheet" href="{% static 'detect/css/styles.css' %}">
</head>

<body>
    <table class="form-table">
        <tr>
            <td class="scrollable-classes">
                <div class="all-classes-container">
                    <div class="scrollable-classes">
                        <ul>
                            {% for c in all_classes %}
                            <li><a href="#" class="class-option" data-class-id="{{ c.class_number }}">{{ c.class_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="form-footer">
                <a href="{% url 'index' %}" class="button">Назад на главный экран</a>
            </td>
        </tr>
    </table>
</body>

</html>
