{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>Food Stuff | Home</title>
<link href="{% static 'detect/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all">
<!-- Custom Theme files -->
<link href="{% static 'detect/css/styles.css' %}" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--Google Fonts-->

</head>
<body>
<!--banner start here-->
<div class="banner">
	<div class="header">
			<div class="container">
		      <div class="header-main">
				<div class="logo wow bounceInLeft" data-wow-delay="0.5s">
					<a href="index.html"><img src="{% static 'detect/images/logo.png' %}" alt=""></a>
				</div>
				<div class="head-right wow bounceInRight" data-wow-delay="0.5s">
					<ul>
						<li><span class="phon"> </span><h4>0157 894 0246</h4></li>
						<li><a href="mailto:infoexample@email.com"><span class="email"> </span>@example.com</a></li>
					</ul>
				</div>
			  <div class="clearfix"> </div>
			</div>
			<div class="banner-main">
				<h2>Food detection</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<div class="bann-btn">
					<a href="#">Read More</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--baner end here-->
<!--navgation start here-->
<div class="navgation">
	<div class="fixed-header">
				<div class="top-nav">
						<span class="menu"> </span>
					<ul>
						<li><a href="index.html" class="active">Home</a></li>
						<li><a href="menu.html">Menu</a></li>
						<li><a href="services.html">Services</a></li>
						<li><a href="typo.html">Typo</a></li>
						<li><a href="recipies.html">Recipies</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!--navgaton end here-->
<!--working start here-->
<div class="working">
	<div class="container">
		<div class="working-main">
			<div class="working-top">
				<h3>Welcome To Our Service</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
			</div>
			<div class="working-bottom">
				<div class="col-md-8 working-left wow bounceInLeft" data-wow-delay="0.5s">
					<h3>Our Working Place</h3>
					<h4>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</h4>
					<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee  the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness</p>
				    <a href="single.html">Read More</a>
				</div>
				<div class="col-md-4 working-right wow bounceInRight" data-wow-delay="0.5s">
					<a href="#"><img src="{% static 'detect/images/work.jpg' %}" alt="" class="img-responsive"></a>
				</div>
			  <div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!--working end here-->
<!--we do grid start here-->
<div class="we-do">
	<div class="container">
		<div class="wedo-main">
			<div class="we-do-top">
				<h3>How It Works</h3>
			</div>
			<div class="we-do-bottom">
				<div class="col-md-3 we-do-grid wow bounceIn" data-wow-delay="0.4s">
					<img src="{% static 'detect/images/f1.png' %}" alt="">
					<h4>Load the image</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor aliqua.</p>
				</div>
				<div class="col-md-3 we-do-grid wow bounceIn" data-wow-delay="0.4s">
					<img src="{% static 'detect/images/f2.png' %}" alt="">
					<h4>Detect the food</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor aliqua.</p>
				</div>
				<div class="col-md-3 we-do-grid wow bounceIn" data-wow-delay="0.4s">
					<img src="{% static 'detect/images/f3.png' %}" alt="">
					<h4>Select the desired option</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor aliqua.</p>
				</div>
				<div class="col-md-3 we-do-grid wow bounceIn" data-wow-delay="0.4s">
					<img src="{% static 'detect/images/f4.png' %}" alt="">
					<h4>Compare to the standard</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor aliqua.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		  <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--we do grid end here-->
<!--main starip statr here-->
<div class="main-strip">
	<div class="container">
		<div class="main-strip-start">
			<h3>Try Our Delicious Food</h3>
			<a href="single.html">Read more</a>
		</div>
	</div>
</div>
<!--main strip end here-->

<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}
	<p><button type="submit">Send</button></p>
</form>

{% if image_path %}
<img src="{{ image_path }}" alt="Uploaded Image" style="max-width: 300px; max-height: 300px;">
{% endif %}

{% if classes %}
<ul>
	{% for c in classes %}
	<li><a href="#">{{ c }}</a></li>
	{% endfor %}
</ul>
{% endif %}

<!--footer start here-->
<div class="footer">
	<div class="container">
		<div class="footer-main">
			<div class="col-md-4 footer-grid  wow bounceIn" data-wow-delay="0.4s">
				<h3>About Us</h3>
				<ul>
					<li><a href="index.html" class="active">Home</a></li>
					<li><a href="menu.html">Menu</a></li>
					<li><a href="services.html">Services</a></li>
					<li><a href="typo.html">Typo</a></li>
					<li><a href="recipies.html">Recipies</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
			<div class="col-md-4 footer-grid  wow bounceIn" data-wow-delay="0.4s">
				<h3>Get Involved</h3>
				<p><a href="#">Occur in toli</a></p>
				<p><a href="#">Which pain can</a></p>
				<p><a href="#">Procure some</a></p>
				<p><a href="#">Great pleasure</a></p>
				<p><a href="#">Produce resultan</a></p>
			</div>
			<div class="col-md-4 footer-grid  wow bounceIn" data-wow-delay="0.4s">
				<h3>Get in Touch</h3>
				<p>Address : Richard McClintock</p>
				<p>New Street : Letraset sheets</p>
				<p>ph : +123 859 6050</p>
			</div>
		  <div class="clearfix"> </div>
		</div>
		<div class="copyright">
				<p>Food Stuff 2016 Template</p>
		</div>
	</div>
</div>
<!--footer end here-->

</body>
</html>