{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детекция и распознавание блюд</title>
    <link rel="stylesheet" href="{% static 'detect/css/styles.css' %}">
</head>
<body>
    <div class="section" id="top-section">
        <div class="top-background"></div>
        <div class="main-background">
            <header>
                <h1>Детекция и распознавание<br>блюд шведской линии</h1>
                <a href="#form-section" class="demo-link">━━━ ДЕМО</a>
            </header>
            <section id="features">
                <table>
                    <tr>
                        <td>
                            <div class="feature">
                                <img src="{% static 'detect/images/icon-recognition.png' %}" alt="Распознавание блюда на фото">
                                <p>Распознавание блюда на фото</p>
                            </div>
                        </td>
                        <td>
                            <div class="feature">
                                <img src="{% static 'detect/images/icon-choice.png' %}" alt="Выбор правильного варианта">
                                <p>Выбор правильного варианта</p>
                            </div>
                        </td>
                        <td>
                            <div class="feature">
                                <img src="{% static 'detect/images/icon-comparison.png' %}" alt="Сравнение с эталонным вариантом">
                                <p>Сравнение с эталонным вариантом</p>
                            </div>
                        </td>
                    </tr>
                </table>
            </section>
        </div>
        <div class="blue-line"></div>
    </div>
    <div class="section" id="form-section">
        <div class="upload-container">
            <h2>Загрузка фото</h2>
            <hr>
            <div class="form-wrapper">
                <div class="inner-form">
                    <form action="" method="post" enctype="multipart/form-data" id="upload-form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Отправить</button>
                    </form>
                    <div class="results-container">
                        {% if image_path %}
                        <div class="uploaded-image">
                            <h3>Загруженное изображение:</h3>
                            <img src="{{ image_path }}" alt="Uploaded Image">
                        </div>
                        {% endif %}
                        {% if classes %}
                        <div class="recognized-classes">
                            <h3>Распознанные классы:</h3>
                            <ul>
                                {% for c in classes %}
                                <li>{{ c.class_name }} class number: {{ c.class_number }} similarity: {{ c.similarity }} confidence: {{ c.confidence }}</li>
                                <img src="{{ c.image_path }}" alt="Standard Image">
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'detect/js/script.js' %}"></script>
</body>
</html>
