body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Gill Sans", sans-serif;
    overflow-x: hidden;
}

body {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
}

.top-background {
    width: 100%;
    height: 12%;
    background: url('../images/top-background.png') no-repeat center center;
    background-size: cover;
}

.main-background {
    width: 100%;
    height: 88%;
    background: url('../images/main-background.png') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 3%;
    padding-right: 3%;
}

header {
    margin-bottom: 0;
    padding-left: 3%;
}

header h1 {
    margin: 0;
    font-size: 4vw;
    text-align: left;
    color: #2F2F68;
}

.demo-link {
    display: block;
    margin-top: 10px;
    color: #4D5BAC;
    text-decoration: none;
    font-size: 2vw;
    text-align: left;
}

#features {
    padding-left: 2%;
    padding-right: 2%;
    width: 96%;
    height: 20%;
    display: flex;
    padding-bottom: 3%;
    margin-top: 10%;
}

table {
    width: 100%;
    border-collapse: collapse;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table td {
    width: 30%;
}

.feature {
    background: #C2CCF1;
    border-radius: 20px;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 3%;
}

.feature img {
    width: 30%;
    height: 30%;
    margin-right: 5%;
}

.feature p {
    color: #1C1C4E;
    font-size: 1.7vw;
    margin: 0;
}

.blue-line {
    width: 100%;
    height: 7px;
    background: url('../images/top-background.png') no-repeat center center;
    background-size: cover;
}

#form-section {
    background: url('../images/main-background.png') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-container {
    width: 60%;
    height: 83%;
    background: #C2CCF1;
    padding: 2%;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upload-container h2 {
    font-size: 2.7vw;
    margin: 0;
    color: #2F2F68;
}

.upload-container hr {
    width: 100%;
    height: 4px;
    background: url('../images/top-background.png') no-repeat center center;
    background-size: cover;
    margin: 2% 0;
}

.form-wrapper {
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.inner-form {
    background: white;
    border-radius: 10px;
    padding: 2%;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

form input[type="file"] {
    margin-bottom: 2%;
    padding: 1%;
}

form button {
    background: blue;
    color: white;
    border: none;
    padding: 2% 4%;
    cursor: pointer;
    margin-top: 2%;
    transition: background 0.3s;
    margin-bottom: 0;
}

form button:hover {
    background: darkblue;
}

.results-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
}

.uploaded-image {
    max-width: 55%;
    text-align: center;
}

.uploaded-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.recognized-classes {
    max-width: 45%;
    margin-left: 15px;
    text-align: center;
}

.recognized-classes ul {
    list-style-type: none;
    padding: 0;
}

.recognized-classes li {
    background: #C2CCF1;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
